# Streamlit for the web app interface
streamlit==1.48.1

# TensorFlow for TF-Hub & Gatys models
tensorflow==2.19.1
tensorflow-hub==0.16.1
tensorflow-io-gcs-filesystem==0.31.0

# PyTorch for AdaIN & Mask R-CNN
torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1

# Image processing & utilities
pillow==11.1.0
numpy==2.0.1
tqdm==4.67.1
requests==2.32.4

# Segmentation & pretrained models for object-based AdaIN
segmentation-models-pytorch==0.3.3
timm==0.9.2
efficientnet-pytorch==0.7.1
pretrainedmodels==0.7.4

# TensorFlow/Keras dependencies
keras==3.11.2
h5py==3.14.0
absl-py==2.3.1
gast==0.6.0
protobuf==5.29.5
six==1.17.0

# Optional / utility
pandas==2.3.1
